<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="springListener" name="springListener" class="com.lxn.quartz.application.AppListener"/>

    <bean id="appContext" name="appContext" class="com.lxn.quartz.application.AppContext"/>

    <!-- 设置log4j -->
    <bean name="logger" class="org.apache.log4j.Logger" factory-method="getLogger">
        <constructor-arg value="quartz"/>
    </bean>

    <!--集成quartz-->


</beans>