<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--自动扫描注解-->
    <context:annotation-config/>
    <context:component-scan base-package="com.lxn.quartz">
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
    </context:component-scan>

    <!--配置环境-->
    <!--DEV-->
    <context:property-placeholder
            location="classpath:dev/log4j.properties, classpath:dev/mysql.properties"/>
    <!--PROD-->
    <!--<context:property-placeholder-->
            <!--location="classpath:prod/log4j.properties, classpath:prod/mysql.properties"/>-->

    <!--引入mysql配置-->
    <import resource="application-mysql.xml"/>
    <!--引入quartz配置-->
    <import resource="application-quartz.xml"/>

    <!-- 设置log4j -->
    <bean name="logger" class="org.apache.log4j.Logger" factory-method="getLogger">
        <constructor-arg value="quartz"/>
    </bean>

</beans>